<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CRUD MVC SPRING::STIVENSON GARCIA ROMERO</title>
        <link th:href="@{/index.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>FORMULARIO DE CANCIONES</h1>
    <center>
    <br>
    <br>
    <br>
    <h2>Menú de Navegación</h2>
  
    <h3>Por favor acceda a la funcionalidad de estos botones</h3>
    
    <ul>
       <a href="/usuario/registrar">Registrar Usuario</a>
        <br>
        <br>
       <a href="/usuario/login">Iniciar Sesión</a>
        <br>
        <br>
       <a href="/usuario/listar">Listado de Usuarios</a>
        <br>
        <br>
       <a href="/canciones/agregar">Agregar Cancion</a>
        <br>
       <br>
       <a href="/canciones/listar">Listado de Canciones</a>
        <br>
    </ul>
    
</body>
</center>
</html>